@import "./variables.scss";
@import "./header.scss";
@import "./top.scss";
@import "./mid.scss";
@import "./bottom.scss";
@import "./footer.scss";

html {
  background-color: $beta;
  font-family: "Epilogue", sans-serif;
  color: $alpha;
  line-height: 200%;
  font-weight: 300;
  font-size: 16px;
}

body {
  min-width: 320px;
}

a {
  cursor: pointer;
  color: $alpha;
  text-decoration: none;
}

.button {
  box-sizing: border-box;
  height: 60px;
  padding: 0 30px;
  border: 2px solid $primary;
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: 0.4s;

  svg {
    fill: $primary;
    transition: 0.4s;

    path {
      transition: 0.4s;
    }
  }

  span {
    display: block;
    position: absolute;
    background-color: $primary;
    width: 113%;
    height: 60px;
    left: -113%;
    top: -2px;
    z-index: -1;
    clip-path: polygon(0 1%, 100% 0, 90% 100%, 0% 100%);
    transition: 0.3s;
  }

  &:hover {
    color: $beta;

    svg {
      fill: $beta;

      path {
        stroke: $beta;
      }
    }

    span {
      left: -1px;
    }
  }
}

h2 {
  font-size: 40px;
  font-weight: 300;
  position: relative;
  margin: 0 0 90px 0;

  span {
    display: inline-block;
    background: $primary;
    width: 40px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -30px;
  }
}

.divider {
  width: 100%;
  background-image: linear-gradient(
    to right,
    $alpha25 50%,
    rgba(255, 255, 255, 0) 0%
  );
  height: 1px;
  background-position: bottom;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.value {
  color: $alpha;
  font-weight: 600;
  padding-bottom: 20px;

  a {
    color: $primary;

    &:hover {
      color: $alpha;
    }
  }
}

.icon-link {
  color: $primary;
  font-weight: 600;
  position: absolute;
  right: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
  top: -20px;
  transition: 0.4s;

  svg {
    stroke: $primary;
    margin-left: 30px;
    transition: 0.4s;
  }

  &:hover {
    color: white;

    svg {
      margin-top: -20px;
      stroke: $alpha;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $beta;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $alpha25;
  border-bottom: 5px solid $primary;
  border-top: 5px solid $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

@import "./responsive.scss";